<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<style>
  body {
    padding: 0;
    margin: 0;
    background-color: aliceblue;

  }

  .container0 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 130px;
    background-color: #23242a00;

  }
  .cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
 
  }
  .cont1{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: -150px;
  }

  img {
    height: 100px;
    width: 100px;
  }

  .containerTwo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;

  }
  .container2{
     display: flex;
     flex-direction: column;
    {{!-- margin-top: 80px; --}}
  }

  .containerThree {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  }

  .item {
    display: flex;
    height: 170px;
    width: 450px;
    box-shadow: 0 0 10px gray;
    border: none;
    border-radius: 20px;


  }
  .items {
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 450px;
  
  }


  .heading {
    font-weight: bold;
  }

  .head {
    font-weight: bold;
    margin-top: 80px;
  }
.text:hover{
  background-color: black;
}
  .text {
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow: 0 0 20px gray;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
       color: aliceblue;
         background-color: #23242abe;
  }
  .text1{
    margin-top: 10px;
    margin-left: 15px;
 
  }


  #item3 {
    margin-left: 100px;
  }
 
  

  .car0 {

    background-image: url('/static/photos/drive.jpg');
    background-size: cover;
  }

  .car1 {
    background-color: aliceblue;
    background-image: url('');
    background-size: cover;
  }

  .car2 {
    background-color: aliceblue;
  
    background-size: cover;
  }

  .c {
    height: 85vh;
    width: 80vw;
    background-color: rgba(255, 255, 255, 0);
    opacity: .9;
    display: flex;

  }

  .r1 {
    height: 85vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(17, 19, 21);
  }

  .row {
    align-items: center;
    justify-content: space-around;
    display: flex;
  }

  .col-sm-4 {

    align-items: center;
    justify-content: space-around;
    display: flex;
    border-radius: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


  }
  #bgm{
     background-image: url(/static/photos/cab2.jpg);
     background-size: cover;
  }
  #bg{
    background-image: url('/static/photos/dest.jpg');
    background-size: cover;
  }

  .r2 {
    display: flex;
    justify-content: center;
    align-items: center;
     height: 85vh;
    width: 40vw;
  }
</style>

<body>
  <header>
    <!-- place navbar here -->
    <nav id="nav-example" class="nav justify-content-center fixed-top bg-black ">
      <a class="nav-link text-light" href="#div0">Home</a>
      <a class="nav-link text-light" href="#div1">About Us</a>
      <a class="nav-link text-light" href="#div2">Get Started</a>
      <a class="nav-link text-light" href="#div3">Services</a>
      <a class="nav-link text-light" href="#div4">Help</a>
    </nav>
    <div>
      <div data-bs-spy="scroll" data-bs-target="#nav-example" data-bs-smooth-scroll="true" tabindex="0">
        <div id="div0" class="car0 d-flex" style="height:100vh">
          <div class="c m-auto">
            <div class="t m-auto text-lg-center text-light">
              <pre style="font-size:40px ;">Book a City Taxi to your destination in town</pre>
              <p style="font-size:30px ;">Choose from a range of categories and prices</p>
            </div>
          </div>
        </div>
        <div id="div1" class="car1 d-flex" style="height:100vh">
            <div class="c m-auto">
             
              <div class="r2 m-auto " id="bg">
               
              </div>
              <div class="r1" style="padding-left: 40px;">
                <h1>We reimagine the way the world moves for the better.</h1>
                <p>Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning. It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get. For all the ways you want to earn. Across the entire world. In real time. At the incredible speed of now. </p>
              </div>
            </div>
        </div>
        <div id="div2" class="car2 d-flex" style="height:100vh">
           <div class="c m-auto">
             
              <div class="r1" style="padding-left: 40px;">
                   <div class="container0">
            <div class="cont1">
             <h1 style="color:rgb(10, 9, 9) ;">Experience The New Era Of Traveling</h1> 
                <h2 style="color:rgb(14, 13, 13) ;">Ways people move around the world</h2>
            </div>
            <div class="container2">
              <div id="items2" class="items">
                <a href="/api/register" style="text-decoration: none;">
                <div class="text">
                  <h4 class="heading">SIGN IN</h4>
                </div>
                </a>
              </div>

              <div id="items3" class="items">
                  <a href="/api/login" style="text-decoration: none;">
                <div class="text">
                  <h4 class="heading">LOG IN</h4>
                </div>
                </a>
              </div>


            </div>
          </div>
              </div>
              
              <div class="r2 m-auto " id="bgm">
               
              </div>
            </div>
        </div>

        <div id="div3" class="car3 d-flex" style="height:100vh;">
          <div class="container0">
            <h1 style="margin-top: 30px;">Ride with Us</h1>
            <div class="containerTwo">
              <div id="item2" class="item">
                <img
                  src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_225,h_225/v1649914471/assets/89/8e4239-5e7d-4de7-bf71-00cc32d468db/original/Auto-150X150p4x.png"
                  alt="">
                <div class="text1">
                  <h4 class="heading">Auto</h4>
                  Get affordable Uber Auto rides with no <br> haggling.
                  Request Uber Auto and <br> ride comfortably
                  around your city.
                </div>
              </div>

              <div id="item3" class="item">
                <img
                  src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_225,h_225/v1649914539/assets/86/82f8b3-e2e6-45f8-a8f7-fdc511f709e0/original/Moto-150X150p4x.png"
                  alt="">
                <div class="text1">
                  <h4 class="heading">Moto</h4>
                  Get affordable bike rides at your doorstep. <br>Skip the crowd and zip through traffic <br>with Uber
                  Moto.
                </div>
              </div>


            </div>
            <div>
              <div class="containerThree">
                <div id="item2" class="item">
                  <img
                    src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_225,h_225/v1630531077/assets/38/494083-cc23-4cf7-801c-0deed7d9ca55/original/uber-hourly.png"
                    alt="">
                  <div class="text1">
                    <h4 class="heading">Rentals</h4>
                    Book Rentals to save time with one<br> car and driver for your multi-stop trips.
                  </div>
                </div>
                <div id="item3" class="item">
                  <img
                    src="https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,w_225,h_225/v1649914597/assets/f7/7f583f-447a-4cf7-8da6-6ad254f0a66b/original/Intercity-150X150p4x.png"
                    alt="">
                  <div class="text1">
                    <h4 class="heading">Intercity</h4>
                    Book Intercity to head outstation anytime<br> in convenient and affordable cars.
                  </div>
                </div>
              </div>



            </div>

          </div>
        </div>

        <div id="div4" class="car4 d-flex" style="height:100vh">
          
          <div class="container my-5">

            <footer class="text-white text-center text-lg-start" style="background-color: #23242a;">
              <!-- Grid container -->
              <div class="container p-4">
                <!--Grid row-->
                <div class="row mt-4">
                  <!--Grid column-->
                  <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">About company</h5>

                    <p>
                      Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of
                      bed each morning. It pushes us to constantly reimagine how we can move better.
                    </p>

                    <p>
                      For you. For all the places you want to go. For all the things you want to get. For all the ways
                      you want to earn. Across the entire world. In real time. At the incredible speed of now.
                    </p>

                    <div class="mt-4">
            
                      <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="bi bi-facebook"><svg
                            xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor"
                            class="bi bi-facebook" viewBox="0 0 16 16">
                            <path
                              d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                          </svg></i></a>
                   
                      <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="bi bi-instagram"><svg
                            xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor"
                            class="bi bi-instagram" viewBox="0 0 16 16">
                            <path
                              d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                          </svg></i></a>
                     
                      <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="bi bi-twitter"><svg
                            xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor"
                            class="bi bi-twitter" viewBox="0 0 16 16">
                            <path
                              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                          </svg></i></a>
                      
                      <a type="button" class="btn btn-floating btn-warning btn-lg"><i
                          class="bi bi-envelope-at-fill"><svg xmlns="http://www.w3.org/2000/svg" width="30px"
                            height="30px" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                            <path
                              d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                            <path
                              d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                          </svg></i></a>
                    
                    </div>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

                    <div class="form-outline form-white mb-4">
                      <input type="text" id="formControlLg" class="form-control form-control-lg">
                      <label class="form-label" for="formControlLg" style="margin-left: 0px;">Search</label>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px;"></div>
                        <div class="form-notch-middle" style="width: 48.8px;"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>

                    <ul class="fa-ul" style="margin-left: 1.65em;">
                      <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New York, NY 10012,
                          US</span>
                      </li>
                      <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-envelope"></i></span><span
                          class="ms-2">info@example.com</span>
                      </li>
                      <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
                      </li>
                      <li class="mb-3">
                        <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
                      </li>
                    </ul>
                  </div>
                  <!--Grid column-->

                  <!--Grid column-->
                  <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-4">Opening hours</h5>

                    <table class="table text-center text-white">
                      <tbody class="font-weight-normal">
                        <tr>
                          <td>Mon - Thu:</td>
                          <td>8am - 9pm</td>
                        </tr>
                        <tr>
                          <td>Fri - Sat:</td>
                          <td>8am - 1am</td>
                        </tr>
                        <tr>
                          <td>Sunday:</td>
                          <td>9am - 10pm</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                </div>
             
              </div>
             


              <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                &#169; Saurav
                <a class="text-white" href="">CAB service</a>
              </div>
              
            </footer>

          </div>
        </div>
      </div>
    </div>

   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
      </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
      </script>
</body>

</html>


 